@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100&display=swap');

body{
  background-image: url('./assets/background.png');
  font-family: Epilogue;
  margin: 0;
  padding: 5px;
  overflow-x: hidden;
}

