.planet-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
}

.planet-card > img{
  width: 100%;
}
.Mercúrio{
  scale: 0.25;
}
.Vênus, .Terra{
  scale: 0.6;
}
.Marte{
  scale: 0.39;
}
.Júpiter, .Saturno{
  scale: 1.2;
}
.Urano,.Netuno{
  scale: 0.7;
}



