.planet-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.Mercúrio{
  display:flex;
  width: 70px;
}
.Vênus,.Terra{
  display:flex;
  width: 200px;
}
.Marte{
  display:flex;
  width: 130px;
}
.Júpiter, .Saturno{
  display:flex;
  width: 470px;
}
.Urano, .Netuno{
  display:flex;
  width: 260px;
}

