.planets-container{
  display: flex;
  justify-content: center;
}

.solar-system{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-bottom: 20px;
}

@media screen and (max-width:300px){
  .solar-system{
    width: 80%;
  }
}